.publication-carousel {
  .carousel .carousel-inner {
    height: auto;
  }
  .item-image {
    height: 497px !important;
  }
}
.carousel {
  margin: 20px 0;
  @media (max-width: $screen-sm-max) {
    margin: 40px 0 20px;
  }
  .carousel-inner {
    height: 640px;
  }
  .item-image {
    display: block;
    background: $brand-info center center no-repeat;
    background-size: contain;
    height: 595px;
    @media (max-width: $screen-xs) {
      height: 580px;
    }
    img {
      opacity: 0;
    }
  }
  .carousel-control {
    $size: 48px;
    background: $brand-info;
    width: $size;
    height: $size;
    position: absolute;
    top: 50%;
    padding: 8px;
    margin-top: -$size;
    .glyphicon {
      margin: 0;
    }
  }
  .carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1em;
    color: $body-bg;
    text-shadow: none;
    background: rgba($brand-info, .8);
    @media (max-width: $screen-sm) {
      margin-top: 5px;
      position: static;
    }
  }
}
